**Logging** is an important module in tracking the work or performance. Maintaining logs helps is tracing the error, variable value and other many uses.

**DXC industrialized AI** starter also performs default logging for few crucial functions. We have provided the automatic logging functionality for below major funtions in this library.



1.   Build Data Pipelines
2.   Run AI Experiments
3.   Publish Microservice


These auto logging is introduced to save the user build pipelines, inputs provided for run experiment function and also to store the microservice design skeleton used for publishing model in algorithmia.

These logs can be referred back in case to rerun or reuse any pipeline or microservice design details. Logs will be saved in the same location where notebook with functions used. 

Log files can be viewed from left side files folder (in google colab) or files will be same folder where script is executed (in juypter).

We have also provided commands below to view logs files.

In [ ]:
##You must restart the runtime/session in order to use newly installed versions.
%%capture
! pip install DXC-Industrialized-AI-Starter
import os
os.kill(os.getpid(), 9)

In [ ]:
%%capture
from dxc import ai

In [ ]:
# TODO: Access raw data.
##reads json from a url and flattens it into a dataframe
df = ai.read_data_frame_from_remote_json("https://data.cincinnati-oh.gov/resource/ucjy-ykv4.json")
df.head()

  request_id request_status  ... actual_unit_cost   procurement_plan
0        463      Completed  ...         17507.14     Passenger Cars
1        674      Completed  ...           355.55  Specialized Small
2        688         Denied  ...              NaN                NaN
3        818      Completed  ...          25799.5     Passenger Cars
4        248      Completed  ...           384.96       Horticulture

[5 rows x 19 columns]

In [ ]:
# TODO: define the data fields
text_fields = []
date_fields = ['date_fleet_doc_entered', 'purchasing_bid_date', 'date_bid_closed', 'date_po_awarded']
numeric_fields = ['est_unit_cost', 'actual_unit_cost']
categorical_fields = ['request_id','request_status', 'funding_source', 'request_type', 'department_name', 
                      'fiscal_year', 'replacement_body_style','equipment_class','equip_id_to_replace',
                      'replacement_make', 'replacement_model','fleet_document_type', 'procurement_plan']

In [ ]:
#clean the data
impute = True
raw_data = ai.clean_dataframe(df, impute, text_fields, date_fields, numeric_fields, categorical_fields)

#display excerpts of the raw data
raw_data.head()

Imputing row 1/862 with 0 missing, elapsed time: 0.163
Imputing row 101/862 with 0 missing, elapsed time: 0.169
Imputing row 201/862 with 0 missing, elapsed time: 0.173
Imputing row 301/862 with 2 missing, elapsed time: 0.176
Imputing row 401/862 with 1 missing, elapsed time: 0.181
Imputing row 501/862 with 0 missing, elapsed time: 0.184
Imputing row 601/862 with 0 missing, elapsed time: 0.187
Imputing row 701/862 with 0 missing, elapsed time: 0.191
Imputing row 801/862 with 0 missing, elapsed time: 0.195

  request_id request_status  ... actual_unit_cost   procurement_plan
0        463      Completed  ...         17507.14     Passenger Cars
1        674      Completed  ...           355.55  Specialized Small
2        688         Denied  ...          4785.25     Passenger Cars
3        818      Completed  ...         25799.50     Passenger Cars
4        248      Completed  ...           384.96       Horticulture

[5 rows x 19 columns]

In [ ]:
# TODO: specify the details of the data layer
data_layer = {
    "connection_string": "<your connection_string>",
    "collection_name": "<your collection_name>",
    "database_name": "<your database_name>",
    "data_source":"<Source of your datset>",
    "cleaner":"<whether applied cleaner yes/no >"
}

In [ ]:
wrt_raw_data = ai.write_raw_data(data_layer, raw_data, date_fields)

In [ ]:
# TODO: define the code needed to refine the raw data
def data_pipeline():

  pipe = [
          {
              '$group':{
                  '_id': {
                      "funding_source":"$Funding_Source",
                      "request_type":"$Request Type",
                      "department_name":"$Department Name",
                      "replacement_body_style":"$Replacement_Body Style",
                      "equipment_class":"$equipment Class",
                      "replacement_make":"$replacement Make",
                      "replacement_model":"$REPlacement model",
                      "procurement_plan":"$Procurement Plan"
                      },
                  "avg_est_unit_cost":{"$avg":"$Est Unit Cost"},
                  "avg_est_unit_cost_error":{"$avg":{ "$subtract": [ "$Est Unit Cost", "$Actual Unit Cost" ] }}
              }
          }
  ]

  return pipe


df = ai.access_data_from_pipeline(wrt_raw_data, data_pipeline())
df.head()

   avg_est_unit_cost  ...  _id.procurement_plan
0       18500.000000  ...        Passenger Cars
1      122100.000000  ...          Horticulture
2       29508.000000  ...        Passenger Cars
3       21000.000000  ...        Passenger Cars
4      177505.176667  ...           Medic Units

[5 rows x 10 columns]

In [ ]:
!cat pipeline.log

2020-09-25 17:25:46,500:dxc.ai.logging.pipeline_logging:INFO:[{'$group': {'_id': {'funding_source': '$Funding_Source', 'request_type': '$Request Type', 'department_name': '$Department Name', 'replacement_body_style': '$Replacement_Body Style', 'equipment_class': '$equipment Class', 'replacement_make': '$replacement Make', 'replacement_model': '$REPlacement model', 'procurement_plan': '$Procurement Plan'}, 'avg_est_unit_cost': {'$avg': '$Est Unit Cost'}, 'avg_est_unit_cost_error': {'$avg': {'$subtract': ['$Est Unit Cost', '$Actual Unit Cost']}}}}]

In [ ]:
# TODO: design and run an experiment
experiment_design = {
    #model options include ['regression()', 'classification()']
    "model": ai.regression(),
    "labels": df.avg_est_unit_cost_error,
    "data": df,
    #Tell the model which column is 'output'
    #Also note columns that aren't purely numerical
    #Examples include ['nlp', 'date', 'categorical', 'ignore']
    "meta_data": {
      "avg_est_unit_cost_error": "output",
      "_id.funding_source": "categorical",
      "_id.department_name": "categorical",
      "_id.replacement_body_style": "categorical",
      "_id.replacement_make": "categorical",
      "_id.replacement_model": "categorical",
      "_id.procurement_plan": "categorical"
  }
}
trained_model = ai.run_experiment(experiment_design)

None


***********************************************
Advanced scoring metrics for the trained regression model on this particular dataset:

Here is the overall RMSE for these predictions:
52000.602795306

Here is the average of the predictions:
2270.1296244803493

Here is the average actual value on this validation set:
5177.398634004884

Here is the median prediction:
34.449001049076

Here is the median actual value:
0.0

Here is the mean absolute error:
22357.1842945423

Here is the median absolute error (robust to outliers):
4072.8118905359233

Here is the explained variance:
0.09295957963027268

Here is the R-squared value:
0.09011551184665778
Count of positive differences (prediction > actual):
44
Count of negative differences:
22
Average positive difference:
14587.43646376332
Average negative difference:
-37896.67995610025


***********************************************

In [ ]:
!cat experiment_design.log

2020-09-25 17:25:53,222:dxc.ai.logging.experiment_design_logging:INFO:{'model': <dxc.ai.run_model.run_model.regression object at 0x7fd4e39d9860>, 'labels': 0        -550.613333
1       99303.922000
2        1619.300000
3        3492.860000
4      -33373.490000
           ...
323    186760.050000
324      1118.745000
325      4543.240000
326     -4894.000000
327      3627.664000
Name: avg_est_unit_cost_error, Length: 328, dtype: float64, 'data':      avg_est_unit_cost  ...        _id.procurement_plan
0         18500.000000  ...              Passenger Cars
1        122100.000000  ...                Horticulture
2         29508.000000  ...              Passenger Cars
3         21000.000000  ...              Passenger Cars
4        177505.176667  ...                 Medic Units
..                 ...  ...                         ...
323      187000.000000  ...                       Other
324       28500.000000  ...           Specialized Small
325       30000.000000  ...           Specialized Small
326       41000.000000  ...  Emergency Response Vehicle
327       47800.000000  ...                         Van

[328 rows x 10 columns], 'meta_data': {'avg_est_unit_cost_error': 'output', '_id.funding_source': 'categorical', '_id.department_name': 'categorical', '_id.replacement_body_style': 'categorical', '_id.replacement_make': 'categorical', '_id.replacement_model': 'categorical', '_id.procurement_plan': 'categorical'}}

In [ ]:
#TODO design a microservice
microservice_design = {
    "microservice_name": "<Name of your microservice>",
    "microservice_description": "<Brief description about your microservice>",
    "execution_environment_username": "<Algorithmia username>",
    "api_key": "<your api_key>",
    "api_namespace": "<your api namespace>",   
    "model_path":"<your model_path>"
}

In [ ]:
# publish the micro service and display the url of the api
api_url = ai.publish_microservice(microservice_design, trained_model, verbose = False)
print("api url: " + api_url)

api url: https://api.algorithmia.com/v1/algo/mbandru2/dxcaistarter/0.1.0

In [ ]:
!cat microservice_design_log.log

2020-09-25 17:26:10,572:dxc.ai.logging.microservice_logging:INFO:{'microservice_name': 'dxcaistarter', 'microservice_description': 'test api generated from the DXC ai starter', 'execution_environment_username': 'mbandru2', 'api_key': 'sim1CBEvUbMpducHofhsUQIJBx41', 'api_namespace': 'mbandru2/dxcaistarter', 'model_path': 'data://.my/mycollection'}